.details-container {
  margin-top: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
  position: relative;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.details-inner-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap within the container */
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.details-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.header-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 20px;
  object-fit: contain;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.header-type {
  font-size: 18px;
  display: flex;
  gap: 10px;
}

.details {
  flex: 1;
  text-transform: capitalize;
  font-weight: bold;
  max-width: 100%;
}

.details h3 {
  margin-bottom: 10px;
  font-size: 24px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.details ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure list items don't overflow */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.details ul li:nth-child(odd) {
  background-color: #e9e9e9;
}

.scrollable-list {
  max-height: 400px;
  overflow-y: auto;
}

.BallButton {
  position: fixed;
  padding: 20px;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  outline: none;
  transition: background-color 1s ease;
}

.BallButton:hover {
  background-color: grey;
  color: white;
  bottom: 30px;
}

.BallButton:hover .Ball {
  filter: grayscale(0%);
}

.BallButton:hover .Text {
  color: white;
}

.Ball {
  width: 110px;
  height: 110px;
  filter: grayscale(100%);
  transition: opacity 1s ease;
}

.BallText {
  color: black;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.5s ease;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {

  .details-container {
    padding: 10px;
  }
  .details-inner-container {
    flex-direction: column;
    
  }

  .header-title {
    font-size: 24px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .header-type {
    font-size: 16px;
  }

  .details h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .details ul li {
    padding: 8px;
    margin-bottom: 4px;
  }

  .Ball {
    width: 20px;
    height: 20px;
  }
}
